{% for message in chat_history %}
<div class="message {% if message.is_bot_response %}bot-message{% else %}user-message{% endif %}">
    <p class="message-content">{{ message.message }}</p>
    <div class="message-footer">
        <span class="timestamp">{{ message.timestamp }}</span>

        {% if message.is_bot_response %}
            <!-- Display play and download icons beside the timestamp -->
            <div class="audio-controls">
                <a href="{{ audio_file_url }}" download>
                    <img src="https://cdn-icons-png.flaticon.com/512/61/61100.png" alt="Download" class="icon download-icon">
                </a>
                <img src="https://cdn-icons-png.flaticon.com/512/64/64572.png" alt="Play" class="icon play-icon" onclick="playAudio('{{ audio_file_url }}')">
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
