{% extends 'base.html' %}

{% block content %}



    <div class="container">
        <div class="card">
            <div class="card-body">

                {% include 'messages.html' %}
                <form id="project-form"
                      method="POST"
                      action="{% url 'new_project' %}"
                      onsubmit="showLoaderOnClick(event)">
                    {% csrf_token %}
                    <div class="radio-container">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="sitemap" name="data_type" value="sitemap">
                            <label class="form-check-label" for="sitemap">Sitemap</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="url" name="data_type" value="url">
                            <label class="form-check-label" for="url">URL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="youtube" name="data_type" value="youtube">
                            <label class="form-check-label" for="youtube">YouTube</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="gen-sitemap" name="data_type"
                                   value="gen-sitemap">
                            <label class="form-check-label" for="gen-sitemap">I know the website but don't have
                                sitemap</label>
                        </div>
                    </div>
                    <div class="mb-3" id="url-container">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" class="form-control" id="urlInput" name="url_input"
                               placeholder="E.g. https://getbootstrap.com/sitemap.xml">
                    </div>
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name</label>
                        <input type="text" class="form-control" id="projectName" name="name" required>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mb-2">
        <div class="row" id="form-response">
            <!-- Spinner will be shown during HTMX requests -->

            <div class="row">
                {% for project in projects %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                    <div class="card text-white
            {% if project.is_sitemap %} bg-danger
            {% elif project.is_multiple %} bg-primary
            {% elif project.is_youtube %} bg-success
            {% else %} bg-secondary
            {% endif %} mb-3">
                        <div class="card-header">{{ project.uploaded_at }}</div>
                        <div class="card-body">
                            {% if project.name %}
                            <h5 class="card-title">{{ project.name }}</h5>
                            {% else %}
                            <h5 class="card-title">{{ project.name }}</h5>
                            {% endif %}
                            <div class="card-text">

                                <a href="{% url 'proj_chatbot' project.pk %}" target="_blank" class="btn btn-primary">Chatbot</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    {% endblock %}